.home {
  margin-left: 200px;
  padding-bottom: 10vh;
}
.greeting {
  margin-left: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.greeting p {
  font-weight: bold;
  min-width: max-content;
  z-index: 21;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 150;
}
@media only screen and (max-width: 35rem) {
  .home {
    padding-top: 0;
    margin-left: 0;
    margin-top: 5rem;
  }
}
