.browse {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-right: 100px;

  padding-bottom: 15vh;
  color: white;
  background-color: #120e16;
  min-height: 100vh;
  z-index: 30;
  overflow: hidden;
}
.new-releases {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  margin-left: 2rem;
  position: relative;
  width: 100%;
}
.new-release {
  margin-left: 2rem;
  font-weight: bold;
  min-width: max-content;
  margin-top: 1rem;
}

.language {
  color: white;
  display: flex;
  height: 5vh;
  margin-top: 1rem;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}
.lang {
  margin-right: 1rem;
  font-size: 0.8rem;
  min-width: max-content;
  padding: 0.4rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #191b1f;
  border-radius: 40px;
  transition: background 0.05s ease-in-out;
}
.lang:hover {
  background-color: #00aa5b;
}

.activeLang {
  background-color: #00d673;
}

.language::-webkit-scrollbar {
  display: none;
}
.bCard {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}
.bCard::-webkit-scrollbar {
  display: none;
}
.chart {
  display: flex;

  flex-direction: column;
}
.chart-title {
  margin-left: 2rem;
  font-weight: bold;
  min-width: max-content;
  padding: 1rem 0;
}
.charts {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.charts::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 35rem) {
  .browse {
    padding-top: 0;
    margin-left: 0;
    margin-top: 5rem;
  }
  .lang {
    font-size: 0.6rem;

    padding: 0.3rem 0.8rem;
    border-radius: 25px;
  }
  .chart-title {
    font-size: 1rem;
    padding: 0.5rem 0;
  }
}
