.favourite {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;

  margin-right: 100px;
  margin-left: 250px;
}
.favourite h3 {
  margin-bottom: 1rem;
}
.fSongs {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  position: relative;
}
.fSongs img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin-left: 1rem;
  mask-image: paint(squircle);
  -webkit-mask-image: paint(squircle);
  background: paint(squircle);
  --squircle-radius: 15px;
  --squircle-smooth: 0.8;
}
.fSongs .title {
  padding-left: 3rem;
  width: 20rem;
}
.fSongs .desc {
  padding-left: 3rem;
  width: 28rem;
}

@media only screen and (max-width: 35rem) {
  .favourite {
    margin: 11vh 0 0 2rem;
    padding: 0;
  }
}
