button {
  background-color: transparent;
  border: none;
  outline: none;
}
.header {
  width: 200px;
  height: 100vh;
  /* background-color: #0e0d12; */
  background-color: #19181D;
  /* box-shadow: 2px 0 15px rgb(58, 58, 58); */
  color: #fff;
  display: flex;
  align-items: center;

  flex-direction: column;
  z-index: 100;
  position: fixed;

  top: 0;
  padding: 0 2rem;
}
.logo {
  margin-top: 2rem;
  width: 90%;
}

.logo img {
  width: 100%;
}

.navbar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.navbar ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.navbar ul li {
  width: 100%;
  margin: 1rem 0;
  color: #9a999c;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-link {
  text-decoration: none;
  color: #9a999c;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navbar ul li p {
  margin-left: 1rem;
}
.active {
  font-weight: bold;
  color: #00D673;
}
.navbar-mobile {
  display: none;
}

.hamburger {
  display: none;
}
.hamburger img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 600px) {
  .header {
    width: 150px;
  }
  .navbar ul li {
    font-size: 0.8rem;
  }
}

/* @media only screen and (max-width: 600px) {
  .searchBar,
  .search-expand,
  .navbar {
    display: none;
  }

  .navbar-mobile {
    position: fixed;
    height: 100vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191b1f;
    right: -1rem;
    top: 0;
    opacity: 0;
    transform: translateX(300%);
  }
  .navbar-mobile ul {
    position: absolute;
    top: 0;
    display: block;
    color: white;
    list-style: none;
  }
  .navbar-mobile ul li {
    padding: 1rem;
  }

  .mSearchInput {
    position: absolute;
    top: 20%;
    left: 25%;
    display: flex;

    align-items: center;
    justify-content: center;
  }
  .mSearchInput input {
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0 1rem;
    margin-right: 1rem;
  }

  .search-mobile img {
    height: 30px;
    width: 30px;
  }
  .cross {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    height: 20px;
    width: 20px;
  }
  .cross img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .hamburger {
    display: block;
  }
} */
