button {
  background-color: transparent;
  border: none;
  outline: none;
}
.header {
  width: 200px;
  height: 100vh;
  /* background-color: #0e0d12; */
  background-color: #19181d;
  /* box-shadow: 2px 0 15px rgb(58, 58, 58); */
  color: #fff;
  display: flex;
  align-items: center;

  flex-direction: column;
  z-index: 100;
  position: fixed;

  top: 0;
  padding: 0 2rem;
}
.logo {
  margin-top: 2rem;
  width: 90%;
}

.logo img {
  width: 100%;
}

.navbar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.navbar ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.navbar ul li {
  width: 100%;
  margin: 1rem 0;
  color: #9a999c;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-link {
  text-decoration: none;
  color: #9a999c;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-link:hover {
  color: #00aa5b;
}
.navbar ul li p {
  margin-left: 1rem;
}
.active {
  font-weight: bold;
  color: #00d673;
}
.active:hover {
  color: #00d673;
}
.mobile {
  display: none;
}
@media only screen and (max-width: 35rem) {
  .navbar,
  .header {
    display: none;
  }
  .mobile {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #19181d;
    height: 9vh;
    padding-inline: 1rem;
    z-index: 100;
  }
  .mobile-logo {
    width: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.8rem;
  }
  .mobile-logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburger {
    cursor: pointer;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .ham-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
  }
  .ham-icon img {
    width: 1.4rem;
    height: 1rem;
  }
  .navbar-mobile {
    position: fixed;
    top: 9%;
    right: 0;
    min-height: 100vh;
    width: 150px;
    background-color: #19181d;
    z-index: 100;
  }
  .navbar-mobile ul {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    list-style: none;
    margin-left: 2rem;
  }
  .navbar-mobile .nav-link {
    font-size: 0.8rem;
    padding-block: 1rem;
  }
  .navbar-mobile .nav-link p {
    margin-left: 0.8rem;
  }
}
