.now-playing {
    min-width: 30%;
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: scroll;
    background: url("https://images.pexels.com/photos/6985265/pexels-photo-6985265.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 1.5rem 1rem;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(80%) translateY(-50%);
    z-index: 10;
}

.now-playing::-webkit-scrollbar{
    width: 0;
}

.np-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 0.6rem;
}

.np-item-image {
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 7px;
    position: relative;
    mask-image: paint(squircle);
    -webkit-mask-image: paint(squircle);
    background: paint(squircle);
	  --squircle-radius: 15px;
    --squircle-smooth: 0.8;
}

.np-item-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.np-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.np-item-content {
    width: 280px;
    margin-left: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.np-item-song-name {
    width: 100%;
    font-size: 0.8rem;
    font-weight: 700;
}

.np-item-artist-names {
    width: 100%;
    font-size: 0.7rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
}

.np-item-duration {
    font-size: 0.85rem;
}