.searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #191b1f;
  color: #9a999c;
  border-radius: 10px;
  overflow: hidden;
  align-self: flex-start;
  position: fixed;
  top: 0;
  margin-left: 225px;
  margin-top: 1.2rem;
  width: 84%;
  z-index: 20;
  transition: 0.3s ease-in-out;
}
.search-bar-top {
  position: fixed;
  top: 0;
  left: 0;

  background-color: #120e16;
  height: 5vh;
  width: 100%;
  margin-left: 225px;
  padding: 2.5rem 0;
  z-index: 20;
  margin-right: 20px;
}

.searchBar p {
  margin-left: 5px;
  font-size: 0.8rem;
  color: white;
}

.expanded-search {
  width: 100%;

  color: #9a999c;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.expanded-search button {
  color: #9a999c;
}
.input {
  display: flex;
  background-color: #120e16;
  width: 80%;
  margin: 1rem;
  align-items: center;
  padding: 0.3rem 0.8rem;
  border-radius: 10px;
}
.expanded-search .input input {
  width: 100%;
  height: 5vh;
  border: none;
  outline: none;
  background-color: transparent;
  padding-left: 1rem;
  color: white;
}
.clear-cross {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 10%;
  margin-top: 1.5rem;
  height: 5vh;
}
.headerCards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-inline: 2rem;
  /* height: 20vh; */
  width: 100%;
  gap: 1rem;
}

.cross {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  margin-top: 0.3rem;
}

.cross:focus {
  outline: none;
}

@media only screen and (max-width: 35rem) {
  .search-bar-top,
  .searchBar {
    transform: translateY(-300px);
    opacity: 0;
  }
}
