.top-section {
  display: flex;
  background-color: #0d0c0f;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow-x: clip;
  z-index: 200;
}

.left-section {
  width: 50%;
  height: 90vh;
  border-left-width: 0px;
  border-right-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    to bottom,
    #0d0c0f 0%,
    #818181 50%,
    #0d0c0f 100%
  );
  border-image-slice: 1;
}

@media only screen and (max-width: 600px) {
  .left-section {
    width: 100%;
    border-right-width: 0px;
  }
}
