.charts-card {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.charts-image {
  height: 150px;
  width: 200px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  mask-image: paint(squircle);
  -webkit-mask-image: paint(squircle);
  background: paint(squircle);
  --squircle-radius: 15px;
  --squircle-smooth: 0.8;
  --squircle-color: grey;
}
.charts-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.charts-card p {
  text-align: center;
}

.border {
  width: 150px;
  border-radius: 50%;
}

@media only screen and (max-width: 35rem) {
  .charts-card {
    padding: 0;
  }
  .charts-image {
    height: 120px;
    width: 150px;
  }
  .border {
    width: 120px;
  }
  .charts-card p {
    font-size: 0.8rem;
  }
}
